<h1>Create Interview Request</h1>

<%= form_for :interview, { :url => interviews_create_path() } do |f| %>
  <%= f.label :recruiter_email %>
  <%= f.text_field :recruiter_email %>
  <br/>
  <%= f.submit "Submit Request" %>
<% end %>
